.main{
    margin: 0px;
}

.backgroundBox{
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    overflow-x: hidden;
    position: absolute;
}

.girl{
    height: 250px;
    margin-top: 400px;
    position: absolute;
}

.score{
    font-size: 60px;
    position: absolute;
    margin-left: 50px;
    font-weight: bold;
}

.box{
    width: 35px;
    height: 100px;
    background-image: url("flame.gif");
    background-size: 50px 100%;
    position: absolute;
    margin-top: 560px;
}

.header{
    font-size: 60px;
    text-align: center;
    color: chartreuse;
}

.startGame{
    width: 100%;
    height: 100vh;
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "poppins";
    color: white;
    visibility: visible;
    
}

.endGame{
    width: 100%;
    height: 100vh;
    background-image: url("background.jpg");
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "poppins";
    color: white;
    visibility: hidden;
}

.btn{
    width: 200px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    background-color: rgba(128, 255, 0, 0.451);
    cursor: pointer;
}
.btn:hover{
    border: 1px solid crimson;
    background-color: yellow;
    transition: 1s;
}

.over{
    width: 100%;
    height: 100vh;
    background-image: url("background.jpg");
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "poppins";
    color: white;
    visibility: hidden;
}